.header {
  width: 100%;
  height: 50px;
  background: #444;
  > div {
    width: 1200px;
    height: 100%;
    margin: auto;
    a {
      width: 120px;
      height: 40px;
      display: block;
      float: left;
      img {
        padding-top: 10px;
        display: block;
        width: 100%;
      }
    }
    form {
      position: relative;
      top: 20px;
      left: 95%;
      transform: translate(-50%, -50%);
      height: 40px;
      length:150px;
      width: 200px;
      border-radius: 40px;
      padding: 10px;
      >input{
        float: left;
        padding: 2px;
        border:2px solid;
        border-radius:25px;
        color: black;
        font-size: 16px;
        transition: 0.4s;
        line-height: 22px;
        width: 180px;
      }
      }
   span.search-btn {
      position: relative;
      top: 20px;
      left: 20px;
      float: right;
      width: 20px;
      height: 20px;
      justify-content: center;
      //align-items: center;
      //transition: 0.4s;
      //text-decoration: none;
    }
    span{
      float: right;
      height: 50px;
      line-height: 50px;
      color: #fff;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
    }

  }
}







